<template>
  <div id="q-app">     
    	<RenderPage />
  </div>
</template>

<script>


import RenderPage from './pages/RenderView'

export default {
  name: 'App',
  components: {
  	RenderPage
  }
}
</script>

<style>
</style>
